:root{
    --font: 'Roboto';
}

#logo{
    border-radius: 50%; 
    width: 36px;
    vertical-align:middle;
}
#RarestItem{
    color:black;
    font-weight:bold;
    color: #f7630c;
    display:inline-block;
    margin-left:10px;
}
html,body,.container{
    font-family:var(--font);
}
.nft-property h2, .card-body h2{
    font-size:23px !important;
    font-family:var(--font);
    font-weight:800;
}
.token{
    background:white;
    padding:15px;
    margin-bottom:15px;
    cursor:pointer;
    border: 1px solid rgba(0,0,0,.125);
    font-weight:bold;
    border-radius:5px;
}
.nft-property .card-body{
    padding:50px;
}
.nft-property{
    box-shadow:0px 0px 20px rgba(0,0,0,0.05);
    border:none !important;
    border-radius:25px;
}
#Logo a{
    text-decoration: none;
}
#chartContainer{
    width:50%;
    height:250px;
    margin:0 auto;
}
nav a{
    display: inline-block;
    margin-left:15px;
}
nav a,
#Logo b{
    color:black;
    font-weight:bold;
    text-decoration:none !important;
}
html,body,#root{
    background:#f5f8fa;
}
.table thead tr td{
    font-weight:500;
    font-family:var(--font);
}
b{
    font-weight:700;
}